@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600;700&display=swap');

.productList {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    padding: 0;
    max-width: 1200px;
}

.productLink {
    text-decoration: none;
    color: inherit;
}

.card {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 420px;
}

.imgContainer {
    object-fit: cover;
}


.sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    gap: 24px;
}

.productTitle {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Inter Tight', sans-serif;
}


.priceValue {
    font-size: 16px;
    padding: 4px 8px;
    color: #000;
    font-weight: bold;
    background-color: antiquewhite;
}

.addToCart {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 10%;
    background: white;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Tooltip */
  .addToCart::before {
    content: "Agregar al carrito";
    position: absolute;
    bottom: 120%; /* arriba del botón */
    left: 50%;
    transform: translateX(-50%);
    background: #DC1429;
    color: white;
    padding: 6px 10px;
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 100;
  }
  
  
  
  /* Mostrar tooltip en hover */
  .addToCart:hover::before {
    opacity: 1;
  }
  

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}