@font-face {
    font-family: "Integral";
    src: url(../../../public/fonts/Demo_Fonts/Integralcf-bold.otf);
}
.container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    padding: 0 48px ;
    padding-bottom: 48px;
    
}
.titleContainer{
    font-size: 64px;
    width: 100%;
    display: flex;
    align-items: self-end;
    justify-content: start;
    color: #e4fb04;
    animation: slideInLeft 0.8s ease-out forwards;
    opacity: 0;
    transform: translateX(-30px);
}
.title{
    width: 100%;
    font-size: 40px;
    text-align: start;
    font-family: "Integral";
    color: #e4fb04;
    border-bottom: solid #e4fb04 2px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}